.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#timeline svg .timestamp .timestamp_label {
    fill: #333;
    font-size: 0.65rem;
    font-family: 'Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif';
    font-weight: normal;
}

#timeline svg .timestamp .timestamp_label.highlight {
    fill: #488d72;
    stroke: #488d72;
    font-size: 0.72rem;
}

#timeline svg .timestamp .timestamp_label.focus {
    fill: #488d72;
    stroke: #488d72;
    font-size: 0.72rem;
}

#timeline svg .timestamp .seam {
    stroke-opacity: 0.2;
    stroke-width: 0.5rem;
    stroke: #b4b8b3;
    fill: #fff;
    fill-opacity: 0;
}

#timeline svg .timestamp .seam.highlight {
    stroke-opacity: 0.9;
    stroke-width: 0.5rem;
    stroke: #488d72;
}

#timeline svg .timestamp .seam.focus {
    stroke-opacity: 0.9;
    stroke-width: 0.5rem;
    stroke: #488d72;
}

#timeline svg .timestamp .lead {
    stroke-opacity: 1;
    stroke-width: 0.2rem;
    stroke: #b4b8b3;
    fill: #fff;
    fill-opacity: 0;
}

#timeline svg .timestamp .lead.highlight {
    stroke-opacity: 0.9;
    stroke-width: 0.5rem;
    stroke: #488d72;
}

#timeline svg .timestamp .lead.focus {
    stroke-opacity: 0.9;
    stroke-width: 0.5rem;
    stroke: #488d72;
}

#timeline svg .node .step .step_substrate {
    fill: #fff;
    fill-opacity: 0.40;
}

#timeline svg .node .step .step_substrate.highlight {
    fill: #acd0b4;
    fill-opacity: 0.40;
}

#timeline svg .node .step .step_substrate.focus {
    fill: #acd0b4;
    fill-opacity: 0.40;
}

#timeline svg .node .step .link_glyph .component0 {
    stroke-opacity: 0.3;
    stroke-width: 0.1rem;
    stroke: #333;
    fill: none;
}

#timeline svg .node .step .link_glyph .component1 {
    stroke-opacity: 1;
    stroke-width: 0.1rem;
    stroke: #333;
    fill: none;
}

#timeline svg .snapshot .bundle .single {
    fill: none;
    stroke-width: 0.3rem;
}

#timeline svg .node .node_substrate {
    stroke: none;
    fill-opacity: 0;
    full: #ffffff;
}

#timeline svg .node .node_substrate.highlight {
    fill: #acdb04;
    fill-opacity: 0.15;
}

#timeline svg .node .node_substrate.focus {
    fill: #acdb04;
    fill-opacity: 0.30;
}

#timeline svg .node .node_substrate.selected {
    fill: #acdb04;
    fill-opacity: 0.45;
}

#smallmultiple svg .step .step_substrate {
    stroke-opacity: 0.2;
    stroke-width: 0.1rem;
    stroke: #cccccc;
    fill: none;
}

#smallmultiple svg .step .timestamp_label {
    fill: #333;
    font-size: 0.65rem;
    font-family: 'Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif';
    font-weight: normal;
}

#smallmultiple svg .step .nodelink .node .node_circle {
    fill: #0065ac;
    fill-opacity: 0.00;
}

#smallmultiple svg .step .nodelink .node .node_circle_drawn {
    fill: #0065ac;
    fill-opacity: 0.00;
    stroke-opacity: 0.0;
    stroke-width: 2px;
    stroke: #0065ac;
}

#smallmultiple svg .step .nodelink .node.highlight .node_circle_drawn {
    fill-opacity: 0.60;
    stroke-opacity: 1.0;
}

#smallmultiple svg .step .nodelink .node.focus .node_circle_drawn {
    fill-opacity: 0.60;
    stroke-opacity: 1.0;
}

#smallmultiple svg .step .nodelink .node .node_label{
    fill: none;
    stroke: none;
    font-size: 0.50rem;
    font-family: 'Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif';
    font-weight: normal;
}

#smallmultiple svg .step .nodelink .node.highlight_source .node_label{
    fill: #0065ac;
    stroke: #0065ac;
}

#smallmultiple svg .step .nodelink .node.focus_source .node_label{
    fill: #0065ac;
    stroke: #0065ac;
}

#smallmultiple svg .step .nodelink .link {
    fill: none;
    stroke-opacity: 0.6;
}

#hierarchy svg .link {
    fill: none;
    stroke: #333;
    stroke-width: 0.3px;
}

#hierarchy svg .node {
    fill: none;
    stroke: #aaa;
    stroke-width: 0.3px;
}











